#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// The default keymap is roughly on Miryoku layout
// (https://github.com/manna-harbour/miryoku).
// Customize on your own on the config folder.

#define BASE    0
#define NAV     1
#define SYM     2
#define NUM     3
#define FUN     4
#define MED     5

#define KEYS_L  0 1 2 3 4 10 11 12 13 14 20 21 22 23 24
#define KEYS_R  5 6 7 8 9 15 16 17 18 19 25 26 27 28 29
#define KEYS_TL 30 31 32
#define KEYS_TR 33 34 35
#define TMB     KEYS_TL KEYS_TR

/ {
    behaviors {
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            require-prior-idle-ms = <200>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <KEYS_R TMB>;
            hold-trigger-on-release;
            display-name = "Home Row Left";
        };
        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            require-prior-idle-ms = <200>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <KEYS_L TMB>;
            hold-trigger-on-release;
            display-name = "Home Row Right";
        };
    };

    macros {
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    &kp Q       &kp W       &kp E       &kp R         &kp T       &kp Y       &kp U        &kp I       &kp O           &kp P
    &hml LGUI A  &hml LALT S  &hml LCTRL D &hml LSHFT F   &kp G       &kp H       &hmr LSHFT J  &hmr LCTRL K &hmr LALT L      &hmr LGUI SEMI
    &kp Z       &kp X  &kp C       &kp V         &kp B       &kp N       &kp M        &kp COMMA   &kp DOT    &kp FSLH
                            &lt MED ESC &lt NAV RET &kp TAB     &lt SYM BSPC &kp SPACE &lt FUN SQT
            >;
        };

        nav_layer {
            bindings = <
    &none       &none       &none       &none       &none                           &kp CAPS    &kp LC(V)   &kp LC(C)   &kp LC(X)   &kp LC(Z)
    &kp LGUI    &kp LALT    &kp LCTRL   &kp LSHFT   &none                           &caps_word  &kp LEFT    &kp DOWN    &kp UP      &kp RIGHT
    &none       &none       &none       &none       &none                           &kp INS     &kp HOME    &kp PG_DN   &kp PG_UP   &kp END
                                        &none       &trans  &none       &kp BSPC     &kp SPACE  &kp SQT
            >;
        };

        sym_layer {
            bindings = <
    &kp LBRC    &kp AMPS    &kp STAR    &kp LPAR   &kp RBRC                     &none       &none       &none       &none       &none
    &kp COLON   &kp DLLR    &kp PRCNT   &kp CARET  &kp PLUS                     &none       &kp RSHFT   &kp RCTRL   &kp RALT    &kp RGUI
    &kp TILDE   &kp EXCL    &kp AT      &kp HASH   &kp PIPE                     &none       &none       &none       &none       &none
                                        &kp LPAR   &kp RPAR &kp UNDER   &trans  &none       &none
            >;
        };

        num_layer {
            bindings = <
    &kp LBKT    &kp N7  &kp N8  &kp N9  &kp RBKT                        &none   &none       &none       &none       &none
    &kp SEMI    &kp N4  &kp N5  &kp N6  &kp EQUAL                       &none   &kp RSHFT   &kp RCTRL   &kp RALT    &kp RGUI
    &kp GRAVE   &kp N1  &kp N2  &kp N3  &kp BSLH                        &none   &none       &none       &none       &none
                                &kp DOT &kp N0      &kp MINUS   &none   &trans  &none
            >;
        };

        fun_layer {
            bindings = <
    &kp F12 &kp F7  &kp F8  &kp F9      &kp PSCRN                           &none   &none       &none       &none       &none
    &kp F11 &kp F4  &kp F5  &kp F6      &kp SLCK                            &none   &kp RSHFT   &kp RCTRL   &kp RALT    &kp RGUI
    &kp F10 &kp F1  &kp F2  &kp F3      &kp PAUSE_BREAK                     &none   &none       &none       &none       &none
                            &kp K_APP   &kp ENTER    &kp TAB     &none   &none   &trans
            >;
        };

        media_layer {
            bindings = <
    &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_CLR  &none       &bootloader                     &none       &none       &none           &none           &none
    &kp LGUI     &kp LALT     &kp LCTRL   &kp LSHFT   &none                           &none       &kp C_PREV  &kp C_VOL_UP    &kp C_VOL_DN    &kp C_NEXT
    &none   &none        &none       &none       &none                           &none       &none       &none           &none           &none
                                          &trans      &none   &none       &kp C_STOP  &kp C_PP    &kp C_MUTE     
            >;
        };
    };
};
